$black: #323232;
$grey: #424a5f;
$yellowish-white: #fefbed;
$white: #f6f6f1;
$yellow: rgba(240, 182, 30, 1);
$mellow: rgba(240, 182, 30, 0.5);
$mellower: rgba(240, 182, 30, 0.25);
$mellowest: rgba(240, 182, 30, 0.15);
