.hide {
  display: none;
}
.placard {
  * {
    margin: 0;
  }
  margin: 2vw 0;
  width: 50vw;
  display: flex;

  &__jumpBtn {
    width: 3vw;
    height: 3vw;
    background-image: url(../assets/icons/SVG/play-button.svg);
    outline: none;
    border: none;

    &--prev {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }

  &__date {
    padding: 0 5vw;
  }
}
