.monthcal {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  background-image: url(../assets/images/clock.jpg);
  background-size: 120vw 100vh;
  background-position: 0% 0;

  &__table {
    height: 70vh;
    margin-top: 2vh;
    left: -15%;

    &-header {
      display: flex;
      justify-content: flex-end;

      &-day {
        width: 6vw;
        margin: 0.5vw;
        text-align: center;
        font-weight: bold;
        color: $grey;
      }
    }

    &-week {
      height: 7vw;
      display: flex;
      align-items: center;

      margin: 1vh 0;

      &:hover {
        transform: scale(1.1);
      }

      &-select-btn {
        width: 30px;
        height: 30px;
        background-image: url(../assets/icons/SVG/tap.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
      }

      .disabled {
        color: gray;
      }
      .today {
        background-color: $yellow;
        border: none;
      }

      &-day {
        display: block;
        margin: 0.5vw;
        width: 6vw;
        height: 6vw;
        border-radius: 8px;
        padding-top: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        text-decoration: none;
        color: $grey;
        background-color: $yellowish-white;

        &:hover {
          border: 2px solid $black;
          transform: scale(1.1);
        }

        &-date {
          &:first-child {
            font-size: 12px;
          }
          &:last-child {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }

  &__picker {
    width: 40vw;
    display: flex;
    left: -15%;

    * {
      border: none;
    }

    &-month {
      width: 45%;
      margin-right: 10%;
    }
    &-year {
      width: 45%;
      border-radius: 5px;
      padding-left: 10px;
      font-size: 16px;
    }
  }
}
