.planning {
  &__main {
    background-color: white;
    padding: 10px;

    input {
      border: none;
      width: fit-content;
    }

    &-event {
      width: 100%;
      padding: 5px 10px;
      border-bottom: 1px solid lightgrey;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "event event"
        "starts ends"
        "location buttons";
      input {
        width: 35%;
        margin-left: 5px;
      }

      &-item {
        display: flex;
        margin-bottom: 10px;

        &--event {
          grid-area: event;
        }
        &--starts {
          grid-area: starts;
        }
        &--ends {
          grid-area: ends;
        }
        &--location {
          grid-area: location;
        }
        &--buttons {
          grid-area: buttons;
          justify-self: end;
          align-self: end;
        }
      }

      &--new {
        * {
          align-self: center;
        }

        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "event ."
          "starts starts"
          "ends ends"
          "location button";

        label {
          width: 5.5vw;
        }

        input {
          border-bottom: 1px solid lightgrey;
          width: 10vw;
          height: 30px;
          border-radius: 4px;
        }

        &-btn {
          grid-area: button;
          justify-self: end;
        }
      }
    }

    &-goal {
      display: flex;
      flex-direction: column;
      padding: 5px;

      &-check {
        margin-right: 10px;
      }

      &-label {
        width: fit-content;
      }

      &-buttons {
        align-self: flex-end;
      }

      &--new {
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        input {
          border-bottom: 1px solid lightgray;
          height: 30px;
          padding: 5px;
        }
      }
    }
    &-goals {
      border-bottom: 1px solid lightgray;

      &--focused {
        background-color: $mellower;
        border-radius: 10px;
        margin: 10px 0;
      }
    }

    &-schedule {
      width: 100%;

      &-rows {
        width: 100%;
      }

      &Row {
        width: 100%;
        border-bottom: 1px solid lightgray;
        padding: 5px 0;
        display: grid;
        grid-template-columns: 2vw 5.5vw 5.5vw 5.5vw 5.5vw 2vw;
        grid-template-areas: "order item starts ends duration delete";

        > * {
          min-width: 0;
          max-width: 5vw;
          overflow: hidden;
        }

        &--header {
          font-size: 12px;
        }

        &--new {
          border-top: 3px solid lightgray;
          display: grid;
          align-items: center;

          grid-template-columns: 2vw 1fr 1fr 3vw;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas:
            "neworder newitem newitem ."
            ". time time ."
            ". time time newdelete";

          &-item {
            grid-area: newitem;
            display: flex;
            overflow-wrap: normal;

            input {
              border-bottom: 1px solid lightgray;
              width: 10vw;
              margin-left: 5px;
            }
          }
          &-order {
            grid-area: neworder;
          }

          &-btn {
            grid-area: newdelete;
            margin: 0;
          }

          &-timeInfo {
            grid-area: time;

            > * {
              display: flex;
            }

            &--start,
            &--end {
              label {
                width: 5vw;
              }
            }

            &--duration {
              width: 10vw;
              input {
                border-bottom: 1px solid lightgray;
                width: 5vw;
                margin-left: 5px;
                text-align: center;
              }
            }
          }
        }

        &-order {
          grid-area: order;
        }
        &-item {
          grid-area: item;
        }
        &-starts {
          grid-area: starts;
        }
        &-ends {
          grid-area: ends;
        }
        &-duration {
          grid-area: duration;
        }
        &-delete {
          grid-area: delete;
        }
      }
    }
  }
}
