@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials//generics";
@import "./partials/week-calendar.scss";
@import "./partials/month-calendar";
@import "./partials/planning-general";
@import "./partials/planning-main";
@import "./partials/planning-transferred";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
