@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials//generics";
@import "./partials/week-calendar.scss";
@import "./partials/month-calendar";
@import "./partials/planning";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
